{{!-- Login page --}}

<div class="column">
    <h3 class="title pb-4r">Login</h3><hr>
    <form class="login-form">
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login"/>
        </div>
        <div>
            <label for="password-login">Username:</label>
            <input type="text" id="password-login"/>
        </div>
        <div>
            <button type="submit" class="button is-primary">Login Here</button>
            <a href="/signup"><button type="button" class="button is-danger">Sign-Up Here</button></a>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>